/* Variables */
:root {
    --header-grey: #121212;
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
    --text-blue: #5595E7;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-black);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    width: 1280px;
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* Header */
.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 150px;
    background-color: yellow;
}

.header form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

/* Carousel */
.carousel {
    margin: auto;
    margin-top: 2rem;
    width: 70%;
    aspect-ratio: 3/2;;
    position: relative;
    background-color: var(--primary-grey);
    padding: 2rem;
    border-radius: 1rem;
}
.carousel__slide {
    position: absolute;
    margin: auto;
    width: 80%;
    inset: 0;
    visibility: hidden;
    aspect-ratio: 3/2;
    transition: 200ms visibility ease-in-out;
}

.carousel__slide[data-active] {
    visibility: visible;
}

.carousel__slide iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__btn {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-yellow);
    background: none;
    border: none;
}

.carousel__btn:hover,
.carousel__btn:focus {
    color: var(--primary-white);
}

.carousel__btn.prev {
    left: 1rem;
}

.carousel__btn.next {
    right: 1rem;
}

/* Här skriver ni er CSS */

.popular {
background-color:var(--text-yellow);
display: flex;
flex-direction: column;
align-items: center;
border-radius: 10x;
}

.popular__title {
    /* Rubrik h2 för populära filmer */
    margin-top: 0;
    background-color: var(--primary-grey);
    color: var(--text-yellow);
    font-size: 1rem;
    
}

.popular__card-container  {
    /* låda för galleriet */
    background-color: var(--text-blue);
    display: flex;
    flex-wrap: wrap;
}

.popular__card {
    /* kort för topp20-filmerna */
    background-color: var(--text-yellow);
    width: 50px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--text-blue);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--primary-grey);

}

.popular__card img{
    /* class för bilder i korten
    width: 10%;
    height: auto;*/
    border-radius: 5 px;
}

.popular__card h3 {
    /* class för h3:or i filmkorten*/
    font-size: 1rem;
    margin-top: 10px;
}

.popular__card p {
    /* styling av texten i filmkorten*/
    font-size: 14px;
}




/* Media Queries 
@media screen and (max-width: 1380px) {
    .content-wrapper {
    }
}

@media screen and (max-width: 1100px) {
    .content-wrapper {
    }
}

@media screen and (max-width: 750px) {
    .content-wrapper {
    }
}*/